

.main-screen{
    border: 1px solid black;
    font-size: 15px;
    line-height: 1.5;
    /* font-family: NanumBarunGothic,Dotum,'돋움',sans-serif; */
}

/* 버튼 기본 디자인 초기화 */
button, .button{
    border: 0;
    background-color: transparent;
    border-radius: 4px;
    background: rgb(255, 255, 255);
    height: 30px;
  }

  img{
    max-width: 100%;
  }

.quick_reserve{
    font-size: 1.8em;
    width: 100%;
    padding: 0 0 26px 0;
}

.container{
    display: flex;
}

.container .left{
    width: 65%;
    background: pink;
    margin-right: 3%;
    border-top: 1px solid black;
}

.container .left .seat-select_section{
    padding: 8px 0 7px 0;
    display: flex;
    line-height: 32px;
    background: green;
    font-size: 1.2em;
    justify-content: space-between;
}

.container .left .seat-select_section button{
    border: 1px solid #c1c1c1;
    background-color: #fff;
    height: 32px;
    text-align: center;
    padding: 0 10px;
}

.container .left .seat-select_section button img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 4px;
}

/* =================== 좌석 선택 영역 =========================== */
.container .left .seat_count{
    background: brown;
    display: flex;
    padding: 10px 0 10px 20px;
    font-size: 1.1em;
    /* background: #f2f4f5; */
}

.container .left .seat_count .number_of_people{
    display: flex;
    text-align: center;
    line-height: 30px;
    
}

.container .left .seat_count .number_of_people .count_button{
    display: flex;
    margin: 0 20px 0 10px;
}

.left .seat_count .number_of_people .count_button .minus_button, .plus_button{
    width: 30px;
    border-right: black;
}
.left .seat_count .number_of_people .count_button .selectd_seat{
    width: 40px;
}

.left .Choose_seat{
    width: fit-content;
    background: #000;
    margin: 35px auto 0; 
}

.left .Choose_seat .seat{
    border: 1px solid black;
    height: 100px;
}

/* ===========================right=========================== */

.container .right{
    width: 32%;
    background: burlywood;
    padding: 15px 15px 0 15px;
    background: #333;
    color: #fff;
}

.container .right .title_area {
   border: 1px solid blue;
   display: flex;
}

.container .right .title_area img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.container .right .info_area {
    border: 1px solid blue;
    margin-top: 15px;
 }

 .container .right .info_area  .other_time{
    margin-top:15px
 }


.container .right .info_area .movie_poster{
    width: 70px;
    height: 100px;
    background-image: url('../image/product_1.jpg');
    float: right;
}

.container .right .choice_seat_area{
    display: flex;
    border-radius: 5px;
    border: 1px solid green;
    margin-top: 15px;
}

.container .right .choice_seat_area .seat_type{
    border: 1px solid orange;
    width: 50%;
    padding: 20px;
}

.container .right .choice_seat_area .seat_type li{
    display: flex;

}

.container .right .choice_seat_area .seat_type .seat_condition{
    width: 14px;
    height: 14px;
    margin-right: 4px;
}

.container .right .choice_seat_area .seat_type .choice{
    background-image: url('../image/seat-type1.png ');
    background-repeat: no-repeat;
}

.container .right .choice_seat_area .finish{
    background-image: url('../image/seat-type2.png ');
    background-repeat: no-repeat;
}
.container .right .choice_seat_area .impossible{
    background-image: url('../image/seat-type3.png ');
    background-repeat: no-repeat;
}
.container .right .choice_seat_area .common{
    background-image: url('../image/seat-type4.png ');
    background-repeat: no-repeat;
}
.container .right .choice_seat_area .disabled{
    background-image: url('../image/seat-type5.png ');
    background-repeat: no-repeat;
}

.container .right .choice_seat_area .seat_num{
    padding: 20px;
    margin: 0 auto;
}

.container .right .choice_seat_area .seat_num .my_seat{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap
} 

.container .right .choice_seat_area .seat_num .my_seat div{
    width: 50%;
    border: 1px solid green;
    text-align: center;
}